{% extends 'base.html'%}

{% block content %}

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>About us</title>

        <!-- Bootstrap CSS -->
        <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
                crossorigin="anonymous"
        />
        <style>
            body {
                background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        </style>
    </head>

    <body>
    <div class="container" style="height: 100vh">
        <div class="container text-center" style="height: 30vh">
            <div class="row h-100">
                <div class="col align-self-center">
                    <h1 class="display-4 fst-italic">About us</h1>
                </div>
            </div>
        </div>
        <div class="container" style="height: 40vh; width: 60vw">
            <div class="row h-100">
                <div class="col align-self-center">
                    <div class="container text-center fs-5">
                        We offer a range of training services and products, including
                        <ul class="list-group-flush" style="margin: 50px">
                            <li class="list-group-item bg-transparent">
                                Customized training for playing basketballl,
                            </li>
                            <li class="list-group-item bg-transparent">
                                Training for origami design,
                            </li>
                            <li class="list-group-item bg-transparent">
                                Rent movies and TV-drama series.
                            </li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'about:movie' %}" class="btn btn-lg btn-primary">
                            Enter movie theatre
                        </a>
                        <a href="{% url 'admin:index' %}" class="btn btn-lg btn-secondary">
                            Enter admin site
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="p-3 mb-2 bg-dark text-muted text-center fixed-bottom">
        Group members: {% for author in authors %} {{author.last_name}} {{author.first_name}},
    {% endfor %} 2022
    </p>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"
    />
    </body>
{% endblock %}